In [2]:
import pandas as pd

data = pd.read_csv("./AER_credit_card_data.csv", true_values = ["yes"], false_values = ["no"])

y = data.card
X = data.drop(["card"], axis=1)

print("Number ow rows:", X.shape[0])
X.head()

Number ow rows: 1319

,reports,age,income,share,expenditure,owner,selfemp,dependents,months,majorcards,active
0,0,37.66667,4.5200,0.033270,124.983300,True,False,3,54,1,12
1,0,33.25000,2.4200,0.005217,9.854167,False,False,3,34,1,13
2,0,33.66667,4.5000,0.004156,15.000000,True,False,4,58,1,5
3,0,30.50000,2.5400,0.065214,137.869200,False,False,0,25,1,7
4,0,32.16667,9.7867,0.067051,546.503300,True,False,2,64,1,5

In [4]:
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score

In [5]:
my_pipeline = make_pipeline(RandomForestClassifier(n_estimators=100))
cv_score = cross_val_score(my_pipeline, X, y, cv=5, scoring="accuracy")

print(f"Cross-validation accuracy:{cv_score.mean()}")

Cross-validation accuracy:0.9795339324807006

In [12]:
expenditures_cardholders = X.expenditure[y]
expenditures_noncardholders = X.expenditure[~y]
expenditures_cardholders

0       124.983300
1         9.854167
2        15.000000
3       137.869200
4       546.503300
           ...
1310      4.583333
1314      7.333333
1316    101.298300
1317     26.996670
1318    344.157500
Name: expenditure, Length: 1023, dtype: float64

In [10]:
print("Fraction of those who did not receive a card and had no expenditure: %.2f" %((expenditures_noncardholders == 0).mean()))
print("Franction of those who received a card and had no expenditure: %.2f" %((expenditures_cardholders == 0).mean()))

Fraction of those who did not receive a card and had no expenditure: 1.00
Franction of those who received a card and had no expenditure: 0.02

In [16]:
potential_leaks = ["expenditure", "share", "active", "majorcards"]
X2 = X.drop(potential_leaks, axis=1)

cv_score = cross_val_score(my_pipeline, X2, y, cv=5, scoring="accuracy")
print("accuracy after dropping suspicious columns: %2.2f" %(cv_score.mean()))

accuracy after dropping suspicious columns: 0.83