In [12]:
import pandas as pd
from sklearn.model_selection import train_test_split

X_test_full = pd.read_csv("./test.csv", index_col="Id")
X_full = pd.read_csv("train.csv", index_col="Id")

y = X_full.SalePrice
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = X_full[features].copy()
X_test = X_test_full[features].copy()

X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0
                                                     )

In [7]:
X_train.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,
619,11694,2007,1828,0,2,3,9
871,6600,1962,894,0,1,2,5
93,13360,1921,964,0,1,2,5
818,13265,2002,1689,0,2,3,7
303,13704,2001,1541,0,2,3,6

In [22]:
from sklearn.ensemble import RandomForestRegressor

model_1 = RandomForestRegressor(n_estimators=50, random_state=0)
model_2 = RandomForestRegressor(n_estimators=100, random_state=0)
model_3 = RandomForestRegressor(n_estimators=100, criterion="absolute_error", random_state=0)
model_4 = RandomForestRegressor(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = RandomForestRegressor(n_estimators=100, max_depth=7, random_state=0)
model_6 = RandomForestRegressor(n_estimators=100, criterion="squared_error", random_state=0)
model_7 = RandomForestRegressor(n_estimators=800, criterion="absolute_error", random_state=0)


models = [model_1, model_2, model_3, model_4, model_5, model_6, model_7]

In [23]:
from sklearn.metrics import mean_absolute_error

def score_model(model, X_train,X_vaild, y_train, y_vaild):
    model.fit(X_train, y_train)
    predictions = model.predict(X_vaild)
    mea = mean_absolute_error(predictions, y_vaild)
    return mea
for i in range (0, len(models)):
    mea = score_model(models[i], X_train, X_valid, y_train, y_valid)
    print(f"model {i+1}: \t{mea}")

model 1: 	24015.492818003917
model 2: 	23740.979228636657
model 3: 	23528.78421232877
model 4: 	23996.676789668687
model 5: 	23706.672864217904
model 6: 	23740.979228636657
model 7: 	23396.17953339041

In [24]:
model_3.fit(X, y)
predictions = model_3.predict(X_test)

output = pd.DataFrame({"Id": X_test.index, "SalePrice": predictions})
output.to_csv("submission.csv", index=False)